extends layout

block content
  if (!user)
    .container
      h1= title
      p A Solution for Practioners and their Patients!
  if (user)
    .container
      h1= title
      p Welcome #{user}
      .row
        .col-md-4
          h3 Patient List
          table.table.table-striped.table-bordered.table-hover
            thead
              tr
                th First Name
                th Last Name
                th Date of Birth
            tbody
              for patient in allPatients
                tr
                  td
                    a(href='/patients/' + patient._id)= patient.firstname
                  td= patient.lastname
                  td= patient.DoB
        .col-md-4.col-md-offset-1
          h3 Chat
          ul#messages
          form#chatform.form(action="")
            .form-group
              input#m.form-control(type='text' autocomplete="off")
            .form-group
              button.btn.btn-default Send
      section
        a(href='/patients/new') Add a New Patient
      section
        a(href='/medications') List of Medications
